.container-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture-about {
    display: none;
    height: auto;
    width: auto;
    max-height: 308px;
    max-width: 231px;
    min-height: auto;
    min-width: auto;
    border: 2px solid rgba(76, 175, 80, 0.6);
}

.about-text {
    font-size: 11px;
    line-height: 2em;
    color: #333;
}

.about-text-main {
    font-size: 32px;
    line-height: 1.5em;
}

.about-name {
    color: #8DBCF7;
}

.about-text-subtitle {
    font-size: 20px;
}

.about-cv {
    color: #8DBCF7;
    font-weight: 700;
    font-size: 18px;
}

/* desktop-medium */
@media all and (min-width: 841px) {
    .profile-picture-about {
        display: block;
        height: auto;
        width: auto;
        max-height: 308px;
        max-width: 231px;
        min-height: auto;
        min-width: auto;
        margin-right: 60px;
        border: 4px solid #8DBCF7;
    }
}