.project-details-dialog-container {

    display: grid;
    grid-template-columns: auto;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.08);
}

.project-not-found {
    justify-self: center;
}

.project-details-navigate-back-button {
    display: flex;
    justify-content: start;

    justify-self: start;

    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

    border-radius: 4px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    transition: all 200ms ease-in-out;
}

.project-details-navigate-back-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 200ms ease-in;
}

.project-details-icon {
    margin-right: 8px;
    font-size: 16px;
}

.project-details-card {
    background-color: white;

    border-radius: 4px;
    border-color: transparent;

    overflow: hidden;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32), 0 3px 4px rgba(0, 0, 0, 0.34);

    transition: all 300ms ease-in;
}

.project-details-image {
    display: block;
    object-fit: cover;
}

.project-details-text {
    line-height: 2em;
    color: #333;
}

.project-details-title {
    color: #222;
    /*text-transform: uppercase;*/
    font-size: 32px;
    line-height: 1.5em;
}

.project-details-subtitle {
    color: #222;
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 24px;
}

.project-details-description {
    margin-top: 16px;
    margin-bottom: 24px;
}

.project-details-main-links {
    display: flex;
    flex-direction: row;

    /*text-transform: uppercase;*/
    font-size: 11px;

    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}

.project-details-secondary-links {
    display: flex;
    flex-direction: row;

    /*text-transform: uppercase;*/
    font-size: 11px;

    font-weight: 700;
    margin-top: 16px;
}

.project-details-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 24px;
}

/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
    .project-details-dialog-container.margin {
        padding-top: 0;
        padding-bottom: 16px;
    }

    .project-details-image.size {
        width: 100%;
        height: 256px;
        max-width: 100%;
        max-height: 256px;
        min-width: 100%;
        min-height: 256px;
    }

    .project-details-navigate-back-button.padding {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .project-details-title {
        font-size: 24px;
        line-height: 1.5em;
    }

    .project-details-subtitle {
        font-size: 18px;
        line-height: 1.2em;
        margin-bottom: 24px;
    }

    .project-details-text.padding {
        padding: 16px;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .project-details-dialog-container.margin {
        padding-top: 0;
        padding-bottom: 16px;
    }

    .project-details-image.size {
        width: 100%;
        height: 256px;
        max-width: 100%;
        max-height: 256px;
        min-width: 100%;
        min-height: 256px;
    }

    .project-details-navigate-back-button.padding {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .project-details-title {
        font-size: 24px;
        line-height: 1.5em;
    }

    .project-details-subtitle {
        font-size: 18px;
        line-height: 1.2em;
        margin-bottom: 24px;
    }

    .project-details-text.padding {
        padding: 16px;
    }
}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
    .project-details-dialog-container.margin {
        padding-top: 0;
        padding-bottom: 32px;
    }

    .project-details-image.size {
        width: 100%;
        height: 392px;
        max-width: 100%;
        max-height: 392px;
        min-width: 100%;
        min-height: 392px;
    }

    .project-details-navigate-back-button.padding {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .project-details-text.padding {
        padding: 32px;
    }
}

/* desktop-large */
@media all and (min-width: 1281px) {
    .project-details-dialog-container.margin {
        padding-top: 42px;
        padding-bottom: 80px;
    }

    .project-details-image.size {
        width: 100%;
        height: 392px;
        max-width: 100%;
        max-height: 392px;
        min-width: 100%;
        min-height: 392px;
    }

    .project-details-navigate-back-button.padding {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .project-details-text.padding {
        padding: 32px;
    }
}