/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
    .projects-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .projects-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }
}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
    .projects-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}

/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) {
    .projects-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
}

/* desktop-xlarge */
@media all and (min-width: 1601px) and (max-width: 3840px) {
    .projects-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
}

@media all and (min-width: 3841px) {
    .projects-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
}

.project-fade-enter {
    opacity: 0.01;
}

.project-fade-enter.project-fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.project-fade-exit {
    opacity: 1;
}

.project-fade-exit.project-fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}