body, html, #root {
    width: 100%;

    margin: 0;
    padding: 0;
    background-color: #FCFCFC;
}

html, #root {
    overflow-x: hidden;

    font-family: 'ui-sans-serif', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #333;
}

.text-unselectable {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

clickable:focus {
    outline: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

